@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600&display=swap');
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    background-image: url("img/bg2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
h2{
    font-family: 'Montserrat', sans-serif;
    color: #F9F9F9;
    text-transform: uppercase;
    border-top: #fff solid 1px;
    border-right: #fff solid 1px;
    border-radius: 0 10px 0 0 ;

}

.container{
    padding:2em;
    width: 50%;
    height: 100vh;
    display:flex;
    flex-direction:column;
    backdrop-filter: blur(5px);

}
.mid{
   padding:2rem 0;
}

.table-head{
    padding:.2rem 0; 
}

nav ul{
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
}


nav ul li{
    padding: 10px 10px;
}
nav a{
    text-decoration: none;
    color: #F9F9F9;

}
table {
    border-collapse: separate;
    border-spacing: 0;
    font-family: 'Montserrat';
    color: #fff;
}

th{
    padding: 0 5px;
}

td {
    border: solid 1px #fff;
    border-style: none solid solid none;
    padding: 20px;
    width: 80%;
}

tr:first-child td:first-child {
    border-top-left-radius: 10px;
}

tr:first-child td:last-child {
    border-top-right-radius: 10px;
}

tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

tr:first-child td {
    border-top-style: solid;
}

tr td:first-child {
    border-left-style: solid;
}

